<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/menubar.css">
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>
<h1 th:text="${title}"></h1>
<form action="#" th:action="@{/forget_password}" method="post">
  <p>Username: <input type="email" th:name="email" th:value="${email}" required/></p>
  <p><input type="submit" value="Send Code"/></p>

  <B><span th:text="${message}"/></B>
  <br>
</form>
<form action="#" th:action="@{/reset_password}" method="post">

  <p>Code: <input type="text" th:name="code" required/></p>
  <p><input type="submit" value="Verify"/></p>
</form>
<h2 class="error" th:text="${error}"></h2>
</body>
</html>