<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/tableborder.css">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/menubar.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div th:replace="../fragments/menubar :: menubar"></div>
<h1 th:text="${title}"></h1>

<form action="#" th:action="@{/createpost}" method="get">
    <button type="submit"> Create Post</button>
</form>

<table class="round" th:each="post: ${posts}">
    <tr>
        <th>Title:</th>
        <td th:text="${post.getTitle()}"/>
    </tr>
    <tr>
        <th>Capacity:</th>
        <td th:text="${post.getCapacity()}"/>
    </tr>
    <tr>
        <th>Start Date:</th>
        <td th:text="${post.getStartDate()}"/>
    </tr>
    <tr>
        <th>End Date:</th>
        <td th:text="${post.getEndDate()}"/>
    </tr>
    <tr>
        <th>Description:</th>
        <td th:text="${post.getDescription()}"/>
    </tr>
    <tr>
        <td>
            <form action="#" th:action="@{/viewpost/{id}(id=${post.getId()})}" method="get">
                <button type="submit"> View Post</button>
            </form>
        </td>
    </tr>
</table>
</div>
<h2 class="error" th:text="${error}"></h2>
</body>
</html>