<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        function deleteConfirmationAlert() {
            return confirm("This post will be deleted permanently.");
        }
    </script>
    <link rel="stylesheet" href="/css/menubar.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/feedback-table.css">
</head>
<body>
<div th:replace="../fragments/menubar :: menubar"></div>
<h1 th:text="${title}"></h1>

<table th:if="${vehicleBookings.size() != 0}" id="vehicleTbl">
    <tr>
        <th>Booking Id</th>
        <th>Trip Id</th>
        <th>Vehicle Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total KMs</th>
    </tr>
    <tr th:each="booking: ${vehicleBookings}">
        <td th:text="${booking.getId()}"/>
        <td th:text="${booking.getPostId()}"/>
        <td th:text="${booking.getVehicleId()}"/>
        <td th:text="${booking.getBookingStartDate()}"/>
        <td th:text="${booking.getBookingEndDate}"/>
        <td th:text="${booking.getTotalKm}"/>
    </tr>
</table>

<h2 class="error" th:text="${error}"></h2>
</body>
</html>