<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/menubar.css">
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>
<h1 th:text="${title}"></h1>
<form action="#">
  <p>Username: <span th:text="${email}"/> </p>
</form>
<form action="#" th:action="@{/new_password}" method="post">
  <p>New Password: <input type="password" th:name="password"/></p>
  <p><input type="submit" value="Submit"/></p>
</form>
<h2 class="error" th:text="${error}"></h2>
</body>
</html>