<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/menubar.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<h1 th:text="${title}"></h1>

<B>Please enter the code that you got through mail.</B>

<form action="#" th:action="@{/verify}" method="post">
    <p>Code: <input type="text" th:name="code" /></p>
    <p><input type="submit" value="Verify"/> </p>
</form>

</body>
</html>