<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>
<div class="nav" th:fragment="menubar">
    <ul class="nav-menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/myposts">My Posts</a></li>
        <li><a href="/my_post_requests">My Posts Requests</a></li>
        <li><a href="/my_requests">My Requests</a></li>
        <li><a href="/my-vehicle-bookings">My Vehicle Bookings</a></li>
        <li><a href="/my-vehicle-booking-transaction">My Transactions</a></li>
        <li><a href="/all-vehicles">All Vehicles</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>